*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 15px 30px;
  color: #FFF;
  border: 1 solid black;
  background-color: #331E36;
  font-size: 30px;
  font-weight: 300;
}

nav>div>span {
  color: #6EA4BF;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.divider {
  width: 30%;
}

.section-content>section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

.section {
  max-width: 700px;
  margin: 15px;
}

.accordion-tabs {
  min-width: 320px;
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
  background: #fff;
}

.section-title {
  display: flex;
  flex-direction: row;
}

.tab-content-container {
  margin: 0 0 5px;
  padding: 10px;
  line-height: 1.5;
  font-weight: 300;
}

.tab-content-title {
  font-weight: 400;
  font-size: 24px;
}

.tab-content-body {
  font-weight: 300;
  font-size: 18px;
}

hr {
  margin: 2px;
}

.tab-image {
  float: left;
  height: 250px;
  width: 250px;
  margin: 0 10px 15px 0;
}

.view-code-lnk {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  padding: 10px 20px;
  margin: 40px auto;
  background-color: #3F3244;
  color: #FFF;
  cursor: pointer;
  font-size: 25px;
  font-weight: 300;
  text-decoration: none;
}

input {
  display: none;
}

label {
  display: inline-block;
  width: 23%;
  margin: 0 0 -1px;
  padding: 15px 25px;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
  background-color: #e5e5e5;
  font-weight: 600;
}

label:before {
  margin-right: 10px;
  font-weight: normal;
}

label:hover {
  cursor: pointer;
  color: #888;
}

input:checked+label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid #6EA4BF;
  border-bottom: 1px solid #fff;
  background-color: #FFF;
}

#tab1:checked~#content1,
#tab2:checked~#content2,
#tab3:checked~#content3,
#tab4:checked~#content4 {
  display: block;
  border: 1px solid #ddd;
}

.flexible-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  max-width: 700px;
  margin: 10px;
  font: 100% Open-Sans, sans-serif;
}

.flexible-cards .card {
  background-color: #F2F2F2;
  border: 1px solid #D1D2D3;
}

.flexible-cards header {
  display: flex;
  justify-content: flex-start;
  background-color: #FFF;
  max-height: 38px;
  max-width: 100%;
}

.flexible-cards h2 {
  font-weight: 600;
  font-size: 14px;
  color: #000;
  margin: 10px;
  overflow: hidden;
}

.flexible-cards .img {
  background: #F2F2F2;
  height: 150px;
  border-top: 1px solid #D1D2D3;
}

.card-img {
  height: 150px;
  width: 100%;
}

#one {
  grid-column: 1 / 3;
  grid-row: 1;
}

#two {
  grid-column: 3;
  grid-row: 1;
}

#six {
  grid-column: 1;
  grid-row: 3;
}

#seven {
  grid-column: 2 / 4;
  grid-row: 3;
}

@media screen and (max-width: 700px) {
  .flexible-cards {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }
  #one {
    grid-column: span 2;
    grid-row: 1;
  }
  #two {
    grid-column: 1;
    grid-row: 2;
  }
  #three {
    grid-column: 2;
    grid-row: 2;
  }
  #four {
    grid-column: 1;
    grid-row: 3;
  }
  #five {
    grid-column: 2;
    grid-row: 3;
  }
  #six {
    grid-column: 1;
    grid-row: 4;
  }
  #seven {
    grid-column: span 2;
    grid-row: 5;
  }
}

@media screen and (max-width: 650px) {
  label {
    font-size: 0;
  }
  label:before {
    margin: 0;
    font-size: 18px;
  }
}

@media screen and (max-width: 530px) {
  .flexible-cards {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  #one {
    grid-column: 1;
    grid-row: 1;
  }
  #two {
    grid-column: 1;
    grid-row: 2;
  }
  #three {
    grid-column: 1;
    grid-row: 3;
  }
  #four {
    display: none;
  }
  #five {
    display: none;
  }
  #six {
    display: none;
  }
  #seven {
    display: none;
  }
  nav {
    flex-direction: column;
    justify-content: center;
    font-size: 24px;
  }
}

@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
}
